@import './variables.css';

/* Set core defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

/* Containers */
.result-card {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(0, 368px));
  max-width: 46rem;
  min-height: 32rem;
  margin: 1.5rem;
  background-color: var(--nt-white);
  border-radius: var(--brad-card);
  box-shadow: 2rem 1rem 3rem var(--nt-pale-blue);
}

.result-card-final {
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 2.375rem 3.75rem 2rem;
  min-height: 22.25rem;
  border-radius: var(--brad-card);
  background: linear-gradient(to bottom, var(--grd-light-slate-blue), var(--grd-light-royal-blue));

}

.final-score-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--size-circle);
  height: var(--size-circle);
  border-radius: 50%;
  background: linear-gradient(to bottom, var(--grd-violet-blue), var(--grd-persian-blue));
}

.result-card-summary {
  display: flex;
  flex-direction: column;
  padding: 2.375rem 2.5rem 0;
  background-color: var(--nt-white);
  border-radius: var(--brad-card);
}

#scores-container {
  display: grid;
  gap: 1rem;
  align-items: center;
  background-color: var(--nt-white);
  margin-top: 1.75rem;
  margin-bottom: 2.5rem;
}

#scores-container div {
  border-radius: var(--brad-category);
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 3.5rem;
  justify-content: space-between;
}

.scores-item {
  padding: 0 1rem;
}

.category-container {
  gap: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--brad-btn);
  min-height: 3.5rem;
  margin-bottom: 2.5rem;
}

/* Typography */
main {
  font-family: var(--ff-primary);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-700);
  }

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-700);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-600);
}

p {
  font-size: var(--fs-p);
  font-weight: var(--fw-500);
}


/* Colors */
.result-card-final h1,
.result-card-final p {
color: var(--nt-light-lavender);
}

.result-card-final h2,
.result-card-final h3 {
    color: var(--nt-white);
  }

.result-card-summary h1,
.result-card-summary .score {
    color: var(--nt-dark-gray-blue);
  }

.result-card-summary p {
    font-weight: var(--fw-700);
  }

.reaction {
  color: var(--clr-pr-light-red);
  background-color: var(--clr-pt-light-red);
}

.memory {
  color: var(--clr-pr-orangey-yellow);
  background-color: var(--clr-pt-orangey-yellow);
}

.verbal {
  color: var(--clr-pr-green-teal);
  background-color: var(--clr-pt-green-teal);
}

.visual {
  color: var(--clr-pr-cobalt-blue);
  background-color: var(--clr-pt-cobalt-blue);
}

.slash {
  color: var(--nt-gray);
}

/* Buttons */
.btn {
  background-color: var(--nt-dark-gray-blue);
  color: var(--nt-white);
  text-decoration: none;
}

.btn:hover {
  background: linear-gradient(to bottom, var(--grd-light-slate-blue), var(--grd-light-royal-blue) );
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 783px){

  body {
    align-items: baseline;;
  }

  .result-card {  
    grid-template-columns: minmax(0, 550px);
    box-shadow: 0 0 0 0;
    margin:0;
    }
}


@media (max-width: 425px){

  .result-card-final {
    padding-top: 1.5rem;
  }

  .result-card-summary {
    padding: 1.5rem 1.875rem 0;
  }
} 